@import "@/assets/styles/nprogress.scss";
@import "@/assets/styles/markdown.scss";
@import "@/assets/styles/dark.scss";
@import "./variables.scss";
@import "@/assets/styles/normalize.css";
@import "./emjoy.css";
@import "element-plus/dist/index.css";

:root {
    --tabs-color: #f39c12;
    --tabs-color-hover: #ffc238;
}
.juz {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex {
    display: flex;
}
.flex-sb {
    display: flex;
    justify-content: space-between;
}
.flex-sa {
    display: flex;
    justify-content: space-around;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
}

div {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
.el-icon {
    position: inherit;
}
.accounts_tip {
    min-width: auto !important;
    width: auto !important;
}
