@import "@/assets/styles/nprogress.scss";
@import "@/assets/styles/markdown.scss";
@import "@/assets/styles/dark.scss";
@import "./variables.scss";
// @import "@/assets/styles/normalize.css";
:root {
    --tabs-color: #f39c12;
    --tabs-color-hover: #ffc238;
}
.juz {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex {
    display: flex;
}
.flex-sb {
    display: flex;
    justify-content: space-between;
}
.flex-sa {
    display: flex;
    justify-content: space-around;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
